<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <form action="/sorteios/createupdate" method="<%= sorteio ? 'put' : 'post' %>" id="formSorteador">
            <input type="hidden" name="id" value="<%= sorteio ? sorteio.id : '' %>">
            <div class="modal-header">
                <h5 class="modal-title">
                    <button type="button" class="btn btn-primary btn-sm"
                        onclick="document.getElementById('crud').loadModal()"><i class="fas fa-sync-alt"></i></button>
                    <%= sorteio ? 'Atualizar' : 'Cadastrar' %> Sorteio
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-9 mb-3">
                        <label for="nome" class="form-label">Sorteio</label>
                        <%- formHelpers.formInput('nome',sorteio?.nome,`class="form-control text-uppercase${(errors?.nome ? ' is-invalid' : (sorteio?.nome ?' is-valid' : ''))}"
                            id="nome" placeholder="Digite o nome do sorteio" `) %>
                            <div class="valid-feedback" valid-div="nome">
                                <% if (sorteio?.nome) { %>
                                    Looks good!
                                    <% } %>
                            </div>
                    </div>
                    <div class="col-3 mb-3">
                        <label for="data" class="form-label">Data Sorteio</label>
                        <%- formHelpers.formInput('data',sorteio?.data,`class="form-control text-center${(errors?.data ? ' is-invalid' : (sorteio?.data ?' is-valid' : ''))}"
                            id="data" placeholder="__/__/____" `) %>
                            <div class="valid-feedback" valid-div="data">
                                <% if (sorteio?.data) { %>
                                    Looks good!
                                    <% } %>
                            </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="lista" class="form-label">Lista Candidatos</label>
                    <%- formHelpers.formTextarea('lista',sorteio?.lista,`class="form-control text-uppercase${(errors?.lista ? ' is-invalid' : (sorteio?.lista ?' is-valid' : ''))}"
                        id="lista" placeholder="Cole/escreva a lista de candidatos separado por enter" `) %>
                            <div class="valid-feedback" valid-div="lista">
                                <% if (sorteio?.lista) { %>
                                    Looks good!
                                    <% } %>
                            </div>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <%- formHelpers.formTextarea('descricao',sorteio?.descricao,`class="form-control" id="descricao"
                        placeholder="Digite uma descrição" `) %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</div>

<script src="/public/js/sorteadores/createupdate.js"></script>